@model BuildFeed.Areas.admin.Models.ViewModel.MetaListing

@{
    ViewBag.Title = "Metadata | BuildFeed";
}

<h2>Manage metadata</h2>
<h3>Current items</h3>
<table class="table table-striped table-bordered table-admin">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:80px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.CurrentItems)
        {
            <tr>
                <td colspan="3"><h4>@group.Key</h4></td>
            </tr>
            foreach (var item in group)
            {
                <tr>
                    <td>@item.Id.Value</td>
                    <td>@Html.ActionLink("Edit", "edit", new { type = item.Id.Type, value = item.Id.Value }, new { @class = "btn btn-info btn-xs btn-block" })</td>
                </tr>
            }
        }
    </tbody>
</table>
<h3>Add new metadata</h3>
<table class="table table-striped table-bordered table-admin">
    <thead>
        <tr>
            <th>Name</th>
            <th style="width:80px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.NewItems)
        {
            <tr>
                <td colspan="3"><h4>@group.Key</h4></td>
            </tr>
            foreach (var item in group)
            {
                <tr>
                    <td>@item.Id.Value</td>
                    <td>@Html.ActionLink("Create", "create", new { type = item.Id.Type, value = item.Id.Value }, new { @class = "btn btn-info btn-xs btn-block" })</td>
                </tr>
            }
        }
    </tbody>
</table>