@using BuildFeed.Model.View
@model ChangePassword

@{
    ViewBag.Title = $"{VariantTerms.Support_ChangePassword} | {InvariantTerms.SiteName}";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<h1>@VariantTerms.Support_ChangePassword</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewData["ErrorMessage"] != null)
    {
        <p class="text-danger">
            @ViewData["ErrorMessage"]
        </p>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword)
        <div>
            @Html.PasswordFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword)
        <div>
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmNewPassword)
        <div>
            @Html.PasswordFor(model => model.ConfirmNewPassword)
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
    </div>

    <div class="form-group">
        <span class="label-placeholder"></span>
        <div>
            <input type="submit" value="@VariantTerms.Support_ChangePassword" class="btn btn-primary" />
        </div>
    </div>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" integrity="sha256-g1QKGxqsp+x5JkuN/JjHl96je2wztgS5Wo4h4c7gm9M=" crossorigin="anonymous"></script>
}