@using System.Globalization
@using BuildFeed.Code.Options
@using BuildFeed.Controllers
@using BuildFeed.Local
@{
   bool isRtl = CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;
}
<!DOCTYPE html>
<html dir="@(isRtl
                ? "rtl"
                : "ltr")" lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link rel="shortcut icon" href="~/favicon.ico" />
   <link rel="icon" href="~/favicon.ico" />
   <link rel="canonical" href="@Url.Action()" />
   <meta name="application-name" content="@Common.SiteName" />

   <link href="/content/default.min.css" rel="stylesheet" type="text/css" />
   <link href="/content/dark.min.css" rel="stylesheet" type="text/css" />
   @if (isRtl)
   {
      <link href="/content/rtl.min.css" rel="stylesheet" type="text/css" />
   }
   <title>@ViewBag.Title</title>
   @RenderSection("head", false)
</head>
<body>
   <header id="page-header">
      <div class="container">
         <h1>
            @Html.ActionLink(Common.SiteName, nameof(FrontController.Index), new
             {
                controller = "Front",
                area = ""
             })
         </h1>
      </div>
   </header>
   <nav id="page-navigation" role="navigation">
      <button type="button">
         <span class="sr-only">@Common.ToggleNavigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <div class="container">
         <ul id="page-navigation-links">
            @if (!User.Identity.IsAuthenticated)
         {
               <li>
                  <a href="@Url.Action(nameof(SupportController.Login), new
                        {
                           controller = "Support",
                           area = ""
                        })" title="@Common.LogIn">
                     <i class="fa fa-fw fa-user"></i> @Common.LogIn
                  </a>
               </li>
            }
            else
            {
               if (Roles.IsUserInRole("Administrators"))
               {
                  <li>
                     <a href="@Url.Action("index", new
                           {
                              controller = "base",
                              area = "admin"
                           })" title="@Common.Admin">
                        <i class="fa fa-fw fa-cogs"></i> @Common.Admin
                     </a>
                  </li>
               }
               <li>
                  <a href="@Url.Action(nameof(FrontController.AddBuild), new
                        {
                           controller = "Front",
                           area = ""
                        })" title="@Common.AddBuild">
                     <i class="fa fa-fw fa-plus-square"></i> @Common.AddBuild
                  </a>
               </li>
               <li>
                  <a href="@Url.Action(nameof(SupportController.Logout), new
                        {
                           controller = "Support",
                           area = ""
                        })" title="@Common.LogOut">
                     <i class="fa fa-fw fa-user"></i> @Common.LogOut
                  </a>
               </li>
            }
            <li>
               <a href="#" id="page-navigation-search" title="@Common.Search">
                  <i class="fa fa-fw fa-search"></i> @Common.Search
               </a>
            </li>
            <li>
               <a href="@Url.Action(nameof(SupportController.Rss), new
                     {
                        controller = "Support",
                        area = ""
                     })" title="@Common.RssFeeds">
                  <i class="fa fa-fw fa-rss"></i> @Common.RssFeeds
               </a>
            </li>
            <li>
               <a href="https://twitter.com/buildfeed" title="@Common.Twitter" target="_blank">
                  <i class="fa fa-fw fa-twitter"></i> @Common.Twitter
               </a>
            </li>
            <li class="dropdown-parent">
               <a href="#">
                  <i class="fa fa-gear"></i>
               </a>
               <ul class="dropdown-menu">
                  <li id="settings-theme-menu" class="dropdown-menu-block">
                     <h4>@Common.NavigationTheme</h4>
                     <ul>
                        @foreach (Theme item in Theme.AvailableThemes)
                        {
                           <li>
                              <a href="#" data-theme="@item.CookieValue">@item.DisplayName</a>
                           </li>
                        }
                     </ul>
                  </li>
                  <li id="settings-lang-menu" class="dropdown-menu-block">
                     <h4>@Common.NavigationLanguage</h4>
                     <ul>
                        @foreach (Locale locale in Locale.AvailableLocales)
                        {
                           <li>
                              <a href="#" data-lang="@locale.LocaleId">@locale.DisplayName</a>
                           </li>
                        }
                     </ul>
                  </li>
               </ul>

            </li>
         </ul>
      </div>
   </nav>
   <article id="page-content">
      <div class="container">
         @RenderBody()
      </div>
   </article>
   <footer id="page-footer">
      <div class="container">
         <div class="footer-flex">
            <div class="footer-flex-item">
               <p>
                  <a href="@Url.Action(nameof(SupportController.Sitemap), new
                           {
                              controller = "Support"
                           })">@Common.Sitemap</a>
                        </p>
                        <p>
                           <i class="fa fa-language"></i>&ensp;
                           @CultureInfo.CurrentUICulture.NativeName
                           (<a href="@Url.Action(nameof(SupportController.Credits), new
                                {
                                   controller = "Support"
                                })">
                              @Common.Credits
                           </a>)
                        </p>
                     </div>
                     <div class="footer-flex-item">
                        <p>
                           &copy; 2013 - @DateTime.Now.Year.ToString(), @Common.SiteName
                        </p>
                        <p>
                           @Common.DevelopedBy <a href="https://twitter.com/tomhounsell" target="_blank">Thomas Hounsell</a>
                        </p>
                        <p>
                           @Common.ContributeOn&ensp;<a href="https://github.com/hounsell/BuildFeed" target="_blank"><i class="fa fa-github"></i>&ensp;GitHub</a>
                        </p>
                     </div>
                  </div>
               </div>
            </footer>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.0-rc.70/jsrender.min.js"></script>
   <script type="text/javascript" src="~/Scripts/bfs.min.js"></script>
   @RenderSection("scripts", false)
   <script id="result-template" type="text/x-jsrender">
      <a href="{{:Url}}" class="list-group-item" title="{{:Title}}">
         <h4 class="list-group-item-heading">{{:Label}}</h4>
         <p class="list-group-item-text">{{:Group}}</p>
      </a>
   </script>
   <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5431719a661cbfd0" async="async"></script>
</body>
</html>