@using System.Globalization
@using BuildFeed.Code.Options
@using BuildFeed.Controllers
@model HandleErrorInfo
@{
   bool isRtl = CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;
}
<!DOCTYPE html>
<html dir="@(isRtl
                ? "rtl"
                : "ltr")" lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="format-detection" content="telephone=no" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
   <link rel="shortcut icon" href="~/favicon.ico" />
   <link rel="icon" href="~/favicon.ico" />
   <meta name="application-name" content="@InvariantTerms.SiteName" />

   <link href="/res/css/default.css" rel="stylesheet" type="text/css" />
   <link href="@(VirtualPathUtility.ToAbsolute(((Theme)ViewBag.Theme).CssPath))" rel="stylesheet" type="text/css" />
   @if (isRtl)
   {
      <link href="/res/css/rtl.css" rel="stylesheet" type="text/css" />
   }
   <title>@VariantTerms.Common_Error | @InvariantTerms.SiteName</title>
   <script type="text/javascript">
      var appInsights = window.appInsights || function (config) {
         function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
      }({
         instrumentationKey: "4632419f-7a2f-4ab5-8374-34384b650f42"
      });

      window.appInsights = appInsights;
      appInsights.trackPageView();
   </script>
</head>
<body>
   <script>
      (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
         m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-55417692-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
   </script>
   <header id="page-header">
      <div class="container">
         <h1>
            @Html.ActionLink(InvariantTerms.SiteName, nameof(FrontController.Index), new
            {
               controller = "Front",
               area = ""
            })
         </h1>
      </div>
   </header>
   <nav id="page-navigation" role="navigation">
      <div class="container">
         <button id="page-navigation-toggle">
            <i class="fa fa-bars"></i>&ensp;@VariantTerms.Common_ToggleNavigation
         </button>
         <ul id="page-navigation-links">
            <li>
               <a href="https://twitter.com/buildfeed" title="@VariantTerms.Common_Twitter" target="_blank">
                  <i class="fa fa-fw fa-twitter"></i> @VariantTerms.Common_Twitter
               </a>
            </li>
            <li class="dropdown-parent">
               <a href="#">
                  <i class="fa fa-gear"></i>
               </a>
               <ul class="dropdown-menu">
                  <li id="settings-theme-menu" class="dropdown-menu-block">
                     <h4>@VariantTerms.Common_NavigationTheme</h4>
                     <ul>
                        @foreach (Theme item in Theme.AvailableThemes)
                        {
                           <li>
                              <a href="#" data-theme="@item.CookieValue">@item.DisplayName</a>
                           </li>
                        }
                     </ul>
                  </li>
                  <li id="settings-lang-menu" class="dropdown-menu-block">
                     <h4>@VariantTerms.Common_NavigationLanguage</h4>
                     <ul>
                        @foreach (Locale locale in Locale.AvailableLocales)
                        {
                           <li>
                              <a href="#" data-lang="@locale.LocaleId" dir="@(locale.Info.TextInfo.IsRightToLeft
                                                                                 ? "rtl"
                                                                                 : "ltr")">
                                 @locale.DisplayName</a>
                           </li>
                        }
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </nav>
   <article id="page-content">
      <div class="container">
         <h1>@VariantTerms.Common_Error</h1>
         <p>
            @string.Format(VariantTerms.Common_ErrorContent, "<a href=\"https://github.com/hounsell/BuildFeed/issues\">GitHub</a>")
         </p>
         <p>
            Controller: <code>@Model.ControllerName</code>
         </p>
         <p>
            Action: <code>@Model.ActionName</code>
         </p>
         <p>
            Error: <code>@Model.Exception.Message</code>
         </p>
      </div>
   </article>
   <footer id="page-footer">
      <div class="container">
         <div class="footer-flex">
            <div class="footer-flex-item">
               <p>
                  <i class="fa fa-language"></i>&ensp;
                  @CultureInfo.CurrentUICulture.NativeName
               </p>
            </div>
            <div class="footer-flex-item">
               <p>
                  &copy; 2013 - @DateTime.Now.Year.ToString(), <span dir="ltr">@InvariantTerms.SiteName</span>
               </p>
               <p>
                  @Html.Raw(string.Format(VariantTerms.Common_DevelopedBy, $"<a href=\"https://twitter.com/tomhounsell\" target=\"_blank\" dir=\"ltr\">{InvariantTerms.DeveloperName}</a>"))
               </p>
               <p>
                  @Html.Raw(string.Format(VariantTerms.Common_ContributeOn, "<a href=\"https://github.com/hounsell/BuildFeed\" target=\"_blank\" dir=\"ltr\"><i class=\"fa fa-github\"></i>&ensp;GitHub</a>"))
               </p>
            </div>
         </div>
      </div>
   </footer>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.0-rc.70/jsrender.min.js" integrity="sha256-3UBtL0tzgKVuJU8ZZiWLXEWGEjXEr6Z023rpauMnBUE=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="~/res/ts/bfs.js"></script>
   @RenderSection("scripts", false)
</body>
</html>