@using Humanizer
@model IEnumerable<MembershipUser>

@{
   ViewBag.Title = "Manage users | BuildFeed";
}

<h1>Manage users</h1>

<ul>
   <li>@Html.ActionLink("View administrators", "admins")</li>
   <li>@Html.ActionLink("Clean-up old unapproved users", "cleanup")</li>
   <li>@Html.ActionLink("Return to admin panel", "index", "base")</li>
</ul>

<table id="user-table">
   <thead>
   <tr>
      <th>
         Username
      </th>
      <th>
         Email Address
      </th>
      <th>
         Registration Time
      </th>
      <th>
         Last Login Time
      </th>
      <th>
         Last Lockout Time
      </th>
      <th style="width: 100px;"></th>
      <th style="width: 100px;"></th>
   </tr>
   </thead>
   <tbody>
   @foreach (MembershipUser mu in Model)
   {
      <tr>
         <td>
            @mu.UserName
         </td>
         <td>
            <a href="mailto:@mu.Email" title="@mu.Email">@mu.Email</a>
         </td>
         <td>
            @mu.CreationDate.Humanize()
         </td>
         <td>
            @(mu.LastLoginDate == DateTime.MinValue
                 ? "Never"
                 : mu.LastLoginDate.Humanize())
         </td>
         <td>
            @(mu.LastLockoutDate == DateTime.MinValue
                 ? "Never"
                 : mu.LastLockoutDate.Humanize())
         </td>
         <td class="text-right">
            @(mu.IsApproved
                 ? Html.ActionLink("Unapprove", "unapprove", new
                 {
                    id = mu.ProviderUserKey
                 }, new
                 {
                    @class = "button delete-button"
                 })
                 : Html.ActionLink("Approve", "approve", new
                 {
                    id = mu.ProviderUserKey
                 }, new
                 {
                    @class = "button add-button"
                 }))
         </td>
         <td class="text-right">
            @(!mu.IsLockedOut
                 ? Html.ActionLink("Lock", "lock", new
                 {
                    id = mu.ProviderUserKey
                 }, new
                 {
                    @class = "button delete-button"
                 })
                 : Html.ActionLink("Unlock", "unlock", new
                 {
                    id = mu.ProviderUserKey
                 }, new
                 {
                    @class = "button add-button"
                 }))
         </td>
      </tr>
   }
   </tbody>
</table>