@using BuildFeed.Controllers
@using BuildFeed.Model
@using BuildFeed.Model.View
@model BulkAddition

@{
    ViewBag.Title = $"{VariantTerms.Common_AddBulk} | {InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Common_AddBulk</h1>

@if (ViewBag.Results != null)
{
    <p>@VariantTerms.Bulk_Success</p>
    <ul>
        @foreach (Build b in ViewBag.Results)
        {
            <li>
                <a href="@Url.Action(nameof(FrontController.ViewBuild), new
                         {
                             id = b.Id
                         })" target="_blank">
                    @b.AlternateBuildString</a>
            </li>
        }
    </ul>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <span class="label-placeholder"></span>
        <div>
            @VariantTerms.Bulk_Instructions
        </div>
    </div>

    <div class="form-group">
        <label for="@Html.IdFor(m => m.Builds)">@VariantTerms.Bulk_Builds</label>
        <div>
            @Html.TextAreaFor(m => m.Builds, new
            {
                rows = 10
            })
        </div>
    </div>

    <div class="form-group">
        <span class="label-placeholder"></span>
        <div>
            <label for="@Html.IdFor(m => m.SendNotifications)">
                @Html.CheckBoxFor(m => m.SendNotifications)
                @VariantTerms.Bulk_SendNotifications
            </label>
        </div>
    </div>

    <div class="form-group">
        <span class="label-placeholder"></span>
        <div>
            <input type="submit" value="@VariantTerms.Bulk_AddBuilds" class="button" />
        </div>
    </div>
}