@using BuildFeed.Local
@using BuildFeed.Models.ViewModel.Front
@using Humanizer
@model IEnumerable<BuildFeed.Models.ViewModel.Front.FrontBuildGroup>
@{
   ViewBag.Title = Common.SiteName;
}
@section head
{
   @if (ViewBag.PageNumber == 1)
   {
      <meta name="description" content="Learn what Gabe Aul won&apos;t tell you - Keep up to date with the latest Microsoft Windows developments with BuildFeed, the comprehensive build tracker." />
   }
   else
   {
      <meta name="robots" content="noindex, follow" />
   }
}

<h1>@Front.HomepageH1</h1>
<h3>@Front.Share</h3>
<div class="addthis_sharing_toolbox"></div>
<h3>@Front.Listing</h3>
<div class="row">
   @foreach (FrontBuildGroup group in Model)
   {
      <div class="col-md-2 col-sm-3 col-xs-6 build-group">
         <h3 class="build-group-title">
            <a href="@Url.Action("ViewGroup", new
                     {
                        major = group.Key.Major,
                        minor = group.Key.Minor,
                        number = group.Key.Build,
                        revision = group.Key.Revision
                     })">
               @group.Key.ToString()</a>
         </h3>
         @if (group.LastBuild.HasValue)
         {
            <p class="build-group-p">
               @{
                  DateTime maxDate = group.LastBuild.Value;
                  if (maxDate.AddDays(28) > DateTime.Now)
                  {
                     <span title="@maxDate.ToLongDateWithoutDay()"><i class="fa fa-calendar fa-fw"></i> @maxDate.Humanize()</span>
                     <br />
                  }
                  else
                  {
                     <span title="@maxDate.Humanize()"><i class="fa fa-calendar fa-fw"></i> @maxDate.ToLongDateWithoutDay()</span>
                     <br />
                  }
               }
            </p>
         }
         <p class="build-group-p">
            <i class="fa fa-server fa-fw"></i> @string.Format(Front.xBuilds, group.BuildCount)
         </p>
      </div>
   }
</div>
@PaginationHelpers.PaginationBlock((int) ViewBag.PageNumber, (int) ViewBag.PageCount, "Index", ViewContext.RouteData.Values)