@model IEnumerable<BuildFeed.Models.ViewModel.Front.FrontBuildGroup>
@using Humanizer;
@{
    ViewBag.Title = "BuildFeed";
}
@section head
{
    @if (ViewBag.PageNumber != 1)
    {
        <meta name="robots" content="noindex, follow" />
    }
}

<h1>Windows NT build list</h1>
<h3>Share</h3>
<div class="addthis_sharing_toolbox"></div>
<h3>Listing</h3>
<div class="row">
    @foreach (BuildFeed.Models.ViewModel.Front.FrontBuildGroup group in Model)
    {
        <div class="col-md-2 col-sm-3 col-xs-6 build-group">
            <h3 class="build-group-title"><a href="@Url.Action("viewGroup", new { major = group.Key.Major, minor = group.Key.Minor, number = group.Key.Build, revision = group.Key.Revision })">@group.Key.ToString()</a></h3>
            <p>
                @if (group.LastBuild.HasValue)
                {
                    var maxDate = group.LastBuild.Value;
                    if (maxDate.AddDays(28) > DateTime.Now)
                    {
                        <span title="@maxDate.ToString("d MMMM yyyy")"><i class="fa fa-calendar fa-fw"></i> @maxDate.Humanize()</span><br />
                    }
                    else
                    {
                        <span title="@maxDate.Humanize()"><i class="fa fa-calendar fa-fw"></i> @maxDate.ToString("d MMMM yyyy")</span><br />
                    }
                }
                <i class="fa fa-server fa-fw"></i>  @group.BuildCount builds
            </p>
        </div>
    }
</div>
@PaginationHelpers.PaginationBlock((int)ViewBag.PageNumber, (int)ViewBag.PageCount, "index", ViewContext.RouteData.Values)
@section scripts
{
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5431719a661cbfd0" async="async"></script>
}