@using BuildFeed.Code
@using BuildFeed.Controllers
@using BuildFeed.Model.View
@using Humanizer
@model IEnumerable<FrontBuildGroup>
@{
   ViewBag.Title = $"{string.Format(VariantTerms.Front_HomepageH1, InvariantTerms.ProductName)} {string.Format(VariantTerms.Common_TitlePage, (int)ViewBag.PageNumber)} | {InvariantTerms.SiteName}";
}
@section head
{
   <meta name="robots" content="noindex, follow" />
}

<h1>@string.Format(VariantTerms.Front_HomepageH1, InvariantTerms.ProductName)</h1>
<h3>@VariantTerms.Front_Listing</h3>
<div class="build-group-listing">
   @foreach (FrontBuildGroup group in Model)
   {
      <div class="build-group">
         <h3 class="build-group-title">
            <a href="@Url.Action(nameof(FrontController.ViewGroup), new
                     {
                        major = group.Key.Major,
                        minor = group.Key.Minor,
                        number = group.Key.Build,
                        revision = group.Key.Revision
                     })">
               @group.Key.ToString()
            </a>
         </h3>
         @if (group.LastBuild.HasValue)
         {
            <p class="build-group-p">
               @{
                  DateTime maxDate = group.LastBuild.Value;
                  if (maxDate.AddDays(28) > DateTime.Now)
                  {
                     <span title="@maxDate.ToLongDateWithoutDay()"><i class="fa fa-calendar fa-fw"></i> @maxDate.Humanize()</span>
                  }
                  else
                  {
                     <span title="@maxDate.Humanize()"><i class="fa fa-calendar fa-fw"></i> @maxDate.ToLongDateWithoutDay()</span>
                  }
               }
            </p>
         }
         <p class="build-group-p">
            <i class="fa fa-server fa-fw"></i> @string.Format(VariantTerms.Front_NumOfBuilds, group.BuildCount)
         </p>
      </div>
   }
   <div class="build-group-empty"></div>
   <div class="build-group-empty"></div>
   <div class="build-group-empty"></div>
</div>
@PaginationHelpers.PaginationBlock((int)ViewBag.PageNumber, (int)ViewBag.PageCount, nameof(FrontController.Index), ViewContext.RouteData.Values)