@using BuildFeed.Code
@using BuildFeed.Model
@using Humanizer
@model Tuple<BuildGroup, List<Build>>
@{
   ViewBag.Title = $"{Model.Item1} | {InvariantTerms.SiteName}";
}

<h1>@Model.Item1.ToString()</h1>

<h3>@VariantTerms.Front_Listing</h3>
<div class="build-group-listing">
   @foreach (Build build in Model.Item2)
   {
      <div class="build-group">
         <h3 class="build-group-title no-wrapping" title="@build.Lab">
            <a href="@Url.Action("ViewBuild", new
                     {
                        id = build.Id
                     })">
               @(string.IsNullOrEmpty(build.Lab)
                    ? "{Unknown}"
                    : build.Lab)
            </a>
         </h3>
         @if (User.Identity.IsAuthenticated)
         {
            <p>
               <a href="@Url.Action("EditBuild", new
                        {
                           id = build.Id
                        })" class="btn btn-primary btn-xs">
                  @VariantTerms.Front_Edit</a>
               @if (Roles.IsUserInRole("Administrators"))
               {
                  <a href="@Url.Action("DeleteBuild", new
                           {
                              id = build.Id
                           })" class="btn btn-danger btn-xs">
                     @VariantTerms.Front_Delete</a>
               }
            </p>
         }
         @if (build.BuildTime.HasValue)
         {
            <p class="build-group-p">
               <span title="@build.BuildTime.Value.Humanize()"><i class="fa fa-calendar fa-fw"></i> @build.BuildTime.Value.ToLongDateWithoutDay()</span>
            </p>
            <p class="build-group-p">
               <span title="@build.BuildTime.Value.Humanize()"><i class="fa fa-clock-o fa-fw"></i> @build.BuildTime.Value.ToShortTimeString()</span>
            </p>
         }
         @if (build.IsLeaked)
         {
            <p class="build-group-p">
               <span class="label label-success label-build-status">@VariantTerms.Front_Public</span>
            </p>
         }
         else
         {
            <p class="build-group-p">
               <span class="label label-danger label-build-status">@VariantTerms.Front_Private</span>
            </p>
         }
      </div>
   }
</div>