@using BuildFeed.Code
@using BuildFeed.Controllers
@using BuildFeed.Model
@using Humanizer
@model IEnumerable<Build>
@{
    ViewBag.Title = $"{InvariantTerms.ProductName} {ViewBag.ItemId} {(ViewBag.PageNumber == 1 ? "" : string.Format(VariantTerms.Common_TitlePage, ViewBag.PageNumber))} | {InvariantTerms.SiteName}";
}

@section head
{
    @if (ViewBag.MetaItem != null)
    {
        <meta name="description" content="@ViewBag.MetaItem.MetaDescription" />
        <meta property="og:description" content="@ViewBag.MetaItem.MetaDescription" />
    }

    @if (ViewBag.PageNumber != 1)
    {
        <meta name="robots" content="noindex, follow" />
    }
}

<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb-list">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="@Url.Action(nameof(FrontController.Index), "Front")">
            <span itemprop="name">BuildFeed</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="@Url.Action(nameof(FrontController.ViewVersion), "Front", new
                                                                              {
                                                                                  ViewBag.Item.major,
                                                                                  ViewBag.Item.minor
                                                                              })">
            <span itemprop="name">@ViewBag.ItemId</span>
        </a>
        <meta itemprop="position" content="2" />
    </li>
</ol>

<h1>@string.Format("{0} {1}", InvariantTerms.ProductName, ViewBag.ItemId)</h1>
@if (ViewBag.MetaItem != null
    && !string.IsNullOrWhiteSpace(ViewBag.MetaItem.PageContent))
{
    <h3>@VariantTerms.Front_About</h3>
    <div lang="en" dir="ltr">
        @Html.Raw(ViewBag.MetaItem.PageContent)
    </div>
}
<h3>@VariantTerms.Front_Share</h3>
<div class="addthis_sharing_toolbox"></div>
<h3>@VariantTerms.Front_Listing</h3>
<div class="build-group-listing">
    @foreach (Build build in Model)
    {
        <div class="build-group">
            <h3 class="build-group-title" title="@build.AlternateBuildString">
                <a href="@Url.Action("ViewBuild", new
                         {
                             id = build.Id
                         })">
                    @($"{build.MajorVersion}.{build.MinorVersion}.{build.Number}.{build.Revision}")
                </a>
            </h3>
            @if (!string.IsNullOrEmpty(build.Lab))
            {
                <p class="build-group-p no-wrapping" title="@build.Lab">
                    <i class="fa fa-code-fork fa-fw"></i> @build.Lab
                </p>
            }
            @if (build.BuildTime.HasValue)
            {
                <p class="build-group-p">
                    <span title="@build.BuildTime.Value.Humanize()">
                        <i class="fa fa-calendar fa-fw"></i> @build.BuildTime.Value.ToLongDateWithoutDay()
                    </span>
                </p>
                <p class="build-group-p">
                    <span title="@build.BuildTime.Value.Humanize()">
                        <i class="fa fa-clock-o fa-fw"></i> @build.BuildTime.Value.ToShortTimeString()
                    </span>
                </p>
            }
            @if (build.IsLeaked)
            {
                <p class="build-group-p">
                    <span>
                        <i class="fa fa-unlock-alt fa-fw"></i> @VariantTerms.Front_Public
                    </span>
                </p>
            }
            else
            {
                <p class="build-group-p">
                    <span>
                        <i class="fa fa-lock fa-fw"></i> @VariantTerms.Front_Private
                    </span>
                </p>
            }
            @if (Roles.IsUserInRole("Editors") || Roles.IsUserInRole("Administrators"))
            {
                <p>
                    <a href="@Url.Action(nameof(FrontController.EditBuild), new
                             {
                                 id = build.Id
                             })" class="button edit-button">
                        @VariantTerms.Front_Edit
                    </a>
                    &nbsp;
                    @if (Roles.IsUserInRole("Administrators"))
                    {
                        <a href="@Url.Action(nameof(FrontController.DeleteBuild), new
                                 {
                                     id = build.Id
                                 })" class="button delete-button">
                            @VariantTerms.Front_Delete
                        </a>
                    }
                </p>
            }
        </div>
    }
    <div class="build-group-empty"></div>
    <div class="build-group-empty"></div>
    <div class="build-group-empty"></div>
    <div class="build-group-empty"></div>
    <div class="build-group-empty"></div>
</div>
@PaginationHelpers.PaginationBlock((int)ViewBag.PageNumber, (int)ViewBag.PageCount, "viewVersion", ViewContext.RouteData.Values)