
@{
   ViewBag.Title = string.Format("{0} | {1}", BuildFeed.Local.Common.Credits, BuildFeed.Local.Common.SiteName);
}

<h1>@BuildFeed.Local.Common.Credits</h1>

<dl class="credits-list">
   <dt>BuildFeed Team</dt>
   <dd>Thomas Hounsell&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/tomhounsell"><i class="fa fa-twitter"></i></a></dd>
   <dd>Nick (ultrawindows)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/nickurtnl"><i class="fa fa-twitter"></i></a></dd>
   <dd>Ahmed (airportsfan)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/airportsfan"><i class="fa fa-twitter"></i></a></dd>
   <dd>Lukas (tfwboredom)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/tfwboredom"><i class="fa fa-twitter"></i></a></dd>
   <dd>Daniel K</dd>
</dl>
<div class="row">
   <div class="col-sm-6">
      <dl class="credits-list">
         <dt>Arabic (@System.Globalization.CultureInfo.GetCultureInfo("ar").NativeName) Translation</dt>
         <dd>Ahmed (airportsfan)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/airportsfan"><i class="fa fa-twitter"></i></a></dd>
         <dt>Bengali (@System.Globalization.CultureInfo.GetCultureInfo("bn").NativeName) Translation</dt>
         <dd>Mehedi Hassan&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/mehedih_"><i class="fa fa-twitter"></i></a></dd>
         <dt>Czech (@System.Globalization.CultureInfo.GetCultureInfo("cs").NativeName) Translation</dt>
         <dd>David (rezedus)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/rezedus"><i class="fa fa-twitter"></i></a></dd>
         <dt>German (@System.Globalization.CultureInfo.GetCultureInfo("de").NativeName) Translation</dt>
         <dd>The Dhel&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/The_Dhel"><i class="fa fa-twitter"></i></a></dd>
         <dd>Christopher&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/evil_pro_"><i class="fa fa-twitter"></i></a></dd>
         <dt>Greek (@System.Globalization.CultureInfo.GetCultureInfo("el").NativeName) Translation</dt>
         <dd>Hacker?pcs</dd>
         <dt>Spanish (@System.Globalization.CultureInfo.GetCultureInfo("es").NativeName) Translation</dt>
         <dd>Nightsteed</dd>
         <dd>OBattler</dd>
         <dt>Finnish (@System.Globalization.CultureInfo.GetCultureInfo("fi").NativeName) Translation</dt>
         <dd>Daniel Gurney (wheatley)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/Daniel_Gurney0"><i class="fa fa-twitter"></i></a></dd>
         <dt>French (@System.Globalization.CultureInfo.GetCultureInfo("fr").NativeName) Translation</dt>
         <dd>CgSYannick&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/YannickTHFR"><i class="fa fa-twitter"></i></a></dd>
         <dt>Croatian (@System.Globalization.CultureInfo.GetCultureInfo("hr").NativeName) Translation</dt>
         <dd>Cadenzza92&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/Cadenzza92"><i class="fa fa-twitter"></i></a></dd>
         <dt>Hebrew (@System.Globalization.CultureInfo.GetCultureInfo("he").NativeName) Translation</dt>
         <dd>David Fainshtein&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/david_f"><i class="fa fa-twitter"></i></a></dd>
         <dt>Indonesian (@System.Globalization.CultureInfo.GetCultureInfo("id").NativeName) Translation</dt>
         <dd>Andreas</dd>
         <dt>Italian (@System.Globalization.CultureInfo.GetCultureInfo("it").NativeName) Translation</dt>
         <dd>OBattler</dd>
         <dt>Korean (@System.Globalization.CultureInfo.GetCultureInfo("ko").NativeName) Translation</dt>
         <dd>qta3426</dd>
      </dl>
   </div>
   <div class="col-sm-6">
      <dl class="credits-list">
         <dt>Dutch (@System.Globalization.CultureInfo.GetCultureInfo("nl").NativeName) Translation</dt>
         <dd>Nick (ultrawindows)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/nickurtnl"><i class="fa fa-twitter"></i></a></dd>
         <dt>Polish (@System.Globalization.CultureInfo.GetCultureInfo("pl").NativeName) Translation</dt>
         <dd>piotrulos&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/piotrulos"><i class="fa fa-twitter"></i></a></dd>
         <dt>Portuguese (@System.Globalization.CultureInfo.GetCultureInfo("pt").NativeName) Translation</dt>
         <dd>OBattler</dd>
         <dt>Portugese - Brazilian (@System.Globalization.CultureInfo.GetCultureInfo("pt-br").NativeName) Translation</dt>
         <dd>RichardG</dd>
         <dt>Pseudo-localisation (@System.Globalization.CultureInfo.GetCultureInfo("qps-ploc").NativeName) Translation</dt>
         <dd>Thomas Hounsell, with&ensp;<a target="_blank" rel="nofollow" href="http://www.pseudolocalize.com/"><i class="fa fa-globe"></i> Pseudolocalize!</a></dd>
         <dt>Romanian (@System.Globalization.CultureInfo.GetCultureInfo("ro").NativeName) Translation</dt>
         <dd>ovctvct&ensp;<a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UC9AC01rKiwDhVPvAsT93rjw"><i class="fa fa-youtube"></i></a></dd>
         <dt>Russian (@System.Globalization.CultureInfo.GetCultureInfo("ru").NativeName) Translation</dt>
         <dd>Roman (rlinev)&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/rlinev"><i class="fa fa-twitter"></i></a></dd>
         <dt>Slovak (@System.Globalization.CultureInfo.GetCultureInfo("sk").NativeName) Translation</dt>
         <dd>Lukas&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/tfwboredom"><i class="fa fa-twitter"></i></a></dd>
         <dt>Slovenian (@System.Globalization.CultureInfo.GetCultureInfo("sl").NativeName) Translation</dt>
         <dd>Overdoze</dd>
         <dt>Swedish (@System.Globalization.CultureInfo.GetCultureInfo("sv").NativeName) Translation</dt>
         <dd>mrpijey&ensp;<a target="_blank" rel="nofollow" href="http://www.mrpijey.net/"><i class="fa fa-globe"></i></a></dd>
         <dt>Turkish (@System.Globalization.CultureInfo.GetCultureInfo("tr").NativeName) Translation</dt>
         <dd>Furkan AKÇATEPE&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/FurkanAKATEPE"><i class="fa fa-twitter"></i></a></dd>
         <dt>Chinese - Simplified (@System.Globalization.CultureInfo.GetCultureInfo("zh-cn").NativeName) Translation</dt>
         <dd>Zheng He&ensp;<a target="_blank" rel="nofollow" href="http://www.betaworld.cn/"><i class="fa fa-globe"></i></a></dd>
         <dt>Chinese - Traditional (@System.Globalization.CultureInfo.GetCultureInfo("zh-tw").NativeName) Translation</dt>
         <dd>Andrew Huang&ensp;<a target="_blank" rel="nofollow" href="https://twitter.com/AndrewDev8383"><i class="fa fa-twitter"></i></a>&ensp;<a target="_blank" rel="nofollow" href="http://isite.tw/"><i class="fa fa-globe"></i></a></dd>
      </dl>
   </div>
</div>