@using BuildFeed.Controllers
@using BuildFeed.Model.View
@model SitemapData
@{
    ViewBag.Title = $"{VariantTerms.Common_Sitemap} | {InvariantTerms.SiteName}";
}

<h1>@VariantTerms.Common_Sitemap</h1>

<ul>
    <li>
        @Html.ActionLink("BuildFeed", nameof(FrontController.Index), "Front")
        <ul>
            <li>
                <a href="#sitemap-builds">Builds</a>
                <ul id="sitemap-builds">
                    @foreach (SitemapDataBuildGroup buildGroup in Model.Builds)
                    {
                        <li>
                            @Html.ActionLink(buildGroup.Id.ToString(), "ViewGroup", new
                            {
                                controller = "Front",
                                major = buildGroup.Id.Major,
                                minor = buildGroup.Id.Minor,
                                number = buildGroup.Id.Build,
                                revision = buildGroup.Id.Revision
                            })
                            <ul>
                                @foreach (SitemapDataBuild build in buildGroup.Builds)
                                {
                                    <li>
                                        @Html.ActionLink(build.Name, "ViewBuild", new
                                        {
                                            controller = "Front",
                                            id = build.Id
                                        })</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
            @foreach (var item in Model.Actions)
            {
                <li>
                    <a href="#sitemap-@item.Key.ToLower()">@item.Key</a>
                    <ul id="sitemap-@item.Key.ToLower()">
                        @foreach (SitemapPagedAction action in item.Value)
                        {
                            if (string.IsNullOrEmpty(action.Name))
                            {
                                <li>@Html.ActionLink("Page 1", action.Action, action.UrlParams)</li>
                                for (int i = 2; i <= action.Pages; i++)
                                {
                                    RouteValueDictionary urlParams = action.UrlParams;
                                    urlParams["page"] = i;
                                    <li>@Html.ActionLink($"Page {i}", action.Action + "Page", urlParams)</li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="#sitemap-@action.UniqueId">@action.Name</a>
                                    <ul id="sitemap-@action.UniqueId">
                                        <li>@Html.ActionLink("Page 1", action.Action, action.UrlParams)</li>
                                        @for (int i = 2; i <= action.Pages; i++)
                                        {
                                            RouteValueDictionary urlParams = action.UrlParams;
                                            urlParams["page"] = i;
                                            <li>@Html.ActionLink($"Page {i}", action.Action + "Page", urlParams)</li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
            <li>
                <a href="#sitemap-rss">@VariantTerms.Common_RssFeeds</a>
                <ul id="sitemap-rss">
                    <li>
                        <a href="@Url.Action("Index", new
                                 {
                                     controller = "Rss"
                                 })" title="@VariantTerms.Support_RecentlyCompiled">
                            <i class="fa fa-sm fa-rss"></i> @VariantTerms.Support_RecentlyCompiled</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Leaked", new
                                 {
                                     controller = "Rss"
                                 })" title="@VariantTerms.Support_RecentlyLeaked">
                            <i class="fa fa-sm fa-rss"></i> @VariantTerms.Support_RecentlyLeaked</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Added", new
                                 {
                                     controller = "Rss"
                                 })" title="@VariantTerms.Support_RecentlyAdded">
                            <i class="fa fa-sm fa-rss"></i> @VariantTerms.Support_RecentlyAdded</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Version", new
                                 {
                                     controller = "Rss"
                                 })" title="@VariantTerms.Support_HighestVersion">
                            <i class="fa fa-sm fa-rss"></i> @VariantTerms.Support_HighestVersion</a>
                    </li>
                    <li>
                        <a href="#rss-labs">@VariantTerms.Model_LabString</a>
                        <ul id="rss-labs">
                            @foreach (string lab in Model.Labs)
                            {
                                <li>
                                    <a href="@Url.Action("Lab", new
                                             {
                                                 controller = "Rss",
                                                 lab
                                             })" title="@lab">
                                        <i class="fa fa-sm fa-rss"></i> @lab</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>