@{
   ViewBag.Title = "Administration | BuildFeed";
}

<h1>Administration</h1>

<ul>
   <li>
      @Html.ActionLink("Manage users", "index", "users")
      <ul>
         <li>@Html.ActionLink("View administrators", "admins", "users")</li>
      </ul>
   </li>
   <li>
      @Html.ActionLink("Manage metadata", "index", "meta")
   </li>
   @if (User.Identity.Name == "hounsell")
   {
      <li>@Html.ActionLink("Exception test", "exception")</li>
      <li>@Html.ActionLink("Initial setup", "setup")</li>
      <li>@Html.ActionLink("Regenerate cached properties", "cache")</li>
   }
</ul>